<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>News</title>
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <h1>Last news this days</h1>
    <div class="news">
      {% for n in news %}
        <div class="news-article">
          <h2 class="news-title">{{ n.article }}</h2>
          <p class="news-content">{{ n.description }}</p>
          <p class="news-publish-time">{{ n.publish_time }}</p>
        </div>
      {% endfor %}
    </div>
</body>
</html>
