{% extends "default.html" %}
{% block title %}Login{% endblock %}
{% block header %}
<h1>Login</h1>
{% endblock %}
{% block main %}
<form method="POST" action="{{ url_for('login') }}">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {{ form.csrf_token }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
{% endblock %}
