<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students table</title>
    <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div class="students-header">Table 1</div>
        <table class="students-info" border="1">
            <tr>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Average score</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.fname }}</td>
                <td>{{ student.lname }}</td>
                <td>{{ student.age }}</td>
                <td>{{ student.avg_score }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>
